#logodiv {
	text-align: center;
}
#indexbody {
	text-align: center;
}
.socialmedia{
width: 30px;
height: 30px;
}

.indeximage{
	width: 300px;
	height: 300px;
}

#ssbutton{
margin-left: auto	
}

#rsbutton{
margin-bottom: auto
}

#faqbutton{
margin-right: auto
}